& when (@media-common = true) {
    .category-compra { // todo: traslate selector
        .footer.content {
            > div.footer-minicart {
                display: none;
                color: #fff;
                background: #11f;
            }
        }
    }
}